{% extends "base.html" %}

{% block content %}
<h1>Open and Active Tickets</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Category</th>
        <th>Description</th>
        <th>Opening Date</th>
        <th>Last Modification Date</th>
    </tr>
    {% for ticket in open_tickets %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.opening_date }}</td>
        <td>{{ ticket.last_modification_date }}</td>
    </tr>
    {% endfor %}
    {% for ticket in active_tickets %}
    <tr>
        <td>{{ ticket.id }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.opening_date }}</td>
        <td>{{ ticket.last_modification_date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}